body {
  font-size: 14px;
  color: #424242;
  background-color: #ffffff;
  letter-spacing: 1px;
  font-family: 'Lato' !important;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -135px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 23px;
  padding-top: 600px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
}

.intro {
  margin-top: 40px;
  font-size: large
}

.skillsSection,
.contactSection {
  background-color: #f2f7fa;
  color: #424242;
  border: 1px solid #d5d5d5 20%;
}

.skill {
  text-align: center;
  margin-left: 10px;
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #444;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .percent:after {
  content: "%";
}

.squareItem {
  margin-top: 30px;
  position: relative;
}

.squareInnerContainer {
  position: relative;
  padding: 60px 15px 35px;
  text-align: center;
  border: 2px solid transparent;
  border-top: none;
  box-shadow: 0px 3px 10px #d4d4d4 ;
  border-radius: 9px;
}

.squareContent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #444;
}

.squareContent h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

.contactButton {
  color: #fff;  
  background-image: linear-gradient(#93aeff 1%, #3366FF);
  padding: 12px 24px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0px .5px 1px #3366FF !important;
  
}

.contactButton:hover {
  text-decoration: none;
  color:#fff;
  box-shadow: 0px 1px 6px #424242 !important;
}

.filter a {
  color: #fff;
  background-image: linear-gradient(#93aeff 1%, #3366FF);
  padding: 12px 24px;
  display: block;
  border-radius: 9px;
}

.filter li {
  display: inline-block;
  padding: 3px;
}

.filter .current {
  background-image: linear-gradient(#93aeff 1%, #3366FF);
  color: #fff;
  border-radius: 9px;
  border: 1 solid #424242 !important;
  text-decoration: underline solid #fff 3.5px;
}

.filter a:hover {
  color: #fff;
  background-color: #0073E6;
  box-shadow: 0px 1px 6px #424242 !important;
  text-decoration: underline transparent 3.5px;
}

.filter {
  text-align: center;
  width: 100%;
}

ul#filters {
  margin-bottom: 40px;
  padding-left: 0px
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}

.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clear: both;
}

.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i {
  color: #fff;
  font-size: 20px;
  margin-top: 9px;
}

.items a {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#93aeff 10%, #3366FF);
  position: relative;
  display: inline-block;

  -webkit-transition: all 0.2s linear, 0.2s;
  -moz-transition: all 0.2s linear, 0.2s;
  -o-transition: all 0.2s linear, 0.2s;
  -ms-transition: all 0.2s linear, 0.2s;
  -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: #424242;
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 0;
  margin-top: 9px;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 1;
}

.items .openButton {
  float: left;
  left: -200px;
}

.items .projectLink {
  float: right;
  right: -200px;
}

.items .item:hover .openButton {
  left: 0px;
}

.items .item:hover .projectLink {
  right: 0px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}

.items {
  padding: 0;
}

.copyrightSection {
  background-color: #424242;
  color: #424242;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}

#navigation {
  background-color: #fff;
  padding: 30px 10px;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 3px 10px #d4d4d4 ;
}

#navigation li {
  padding: 0 10px;
  margin: 0 auto;
}

#navigation li a {
  color: #424242;
}

#navigation li a:hover {
  color: #0073E6
}

div#navbarNav.collapse.navbar-collapse {
  justify-content: center;
  margin-left: -175px;
}

.navbar-brand,
.navbar-brand:hover {
  color: #424242;
  padding-left: 10px;
}

.navbar-toggler-icon {
  background: url(../img/icons/menu.svg);
  background-size: 100%;
}

.fixedNav #navigation {
  position: fixed;
  top: 0;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loader .inner {
  width: 100%;
  height: 100%;
  background: url(../img/1476.gif) center center no-repeat;
}

div.skill {
  margin-top: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  padding: 30px;
  width: 100%;
  height: 2.5rem;
  border-top: 1px solid #424242;
  /* Footer height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato' !important;
  color: #424242;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 5% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.apps.col-xs-6.col-sm-4.col-md-3.col-lg-3 {
  padding-bottom: 80px;
  padding-top: 40px;
  clear: both;
} 

.prototypes.col-xs-6.col-sm-4.col-md-3.col-lg-3 {
  padding-bottom: 80px;
  padding-top: 40px;
  clear: both;
}
.counter1 {
  font-size: 32px;
}

@viewport (min-width: 400px) { {
  .counter1 {
    font-size: 56px;
  }
}
.portoButton {
  display:block; 
  margin: 0 auto;
}
